.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(25, 22, 78);
}


.App-header {
  display: flex;
  margin: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 1px 1px 3px 1px;
}