span {
    color: rgb(252, 191, 242);
    font-size: 20px;
    font-family: 'Lucida Sans';
    display: flex;
    margin: 10px;
}

.Form-name {
    font-size: 5px;
    color: white;
}

article {
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans';
    display: flexbox;
    flex-wrap: wrap;
    text-align: center;
    border: 3px solid #737495;
    border-radius: 0;
    padding: 0.4rem;
    outline: none;
    -webkit-appearance: none;
}

